<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/public/css/admin.css">
</head>
<body>
    <div class="login-container">
        <h2>Admin Login</h2>
        <form action="/" method="post">
            <div class="input-group">
                <label for="admin">Admin</label>
                <input type="text" id="username" name="admin" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <p style="color: {{color}};">{{status}}</p><br/>
            <div class="input-group">
                <button id="submit" type="submit">Login</button>
            </div>
        </form>
    </div>
    {{!-- <script src="/public/js/admin.js"></script> --}}
</body>
</html>
