<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Management System</title>
    <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<body>
    <!-- Static Navbar Section -->
    <nav class="navbar">
        <div class="navbar-logo">
            <h1>Gym Management System</h1>
            <h2 class="sponsor">The Vyne Gym</h2>
        </div>
        <ul class="navbar-links">
            <li><a href="/member" class="link">View Membership</a></li>
            <li><a href="/insert" class="link">Insert Member</a></li>
            <li><a href="/update" class="link">Update Member</a></li>
            <li><a href="/remove" class="link">Delete Member</a></li>
        </ul>
    </nav>

    <div class="container">
        <!-- Statistics Section -->
        <div class="stats-container">
            <div class="stats-box">
                <h3>Total Members</h3>
                <p id="totalMembers"></p>
            </div>

            <div class="stats-box">
                <h3>Total Expiries</h3>
                <p id="totalExpiries"></p>
            </div>
        </div>
        <div>
            <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        </div>
         <div>
            <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
        </div>
    </div>
 <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    <script src="/public/js/dashboard.js"></script>
    
    
</body>
</html>
