<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Management System</title>
    <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<body>
    <div class="container">
        <h1>Gym Management System</h1>
        <h2 class="sponsor"> The Vyne Gym</h2>
        <div class="links">
            <a href="/member" class="link">View Membership</a>
            <a href="/insert" class="link">Insert Member</a>
            <a href="/update" class="link">Update Member</a>
            <a href="/remove" class="link">Delete Member</a>
        </div>
    </div>
</body>
</html>
