<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Delete Membership</title>
  <link rel="stylesheet" href="/public/css/remove.css" />
</head>

<body>
  <!-- Main Container -->
  <div class="main-container">
    <!-- Logo Section -->
    <div class="logo">
      <p>The {{gymName}} GYM</p>
       <!-- Back to Home Link -->
    <div class="back-home">
      <a href="/dashboard">Back to Home</a>
    </div>
    </div>
   

    <!-- Delete Membership Section -->
    <div class="delete-container">
      <h2>Delete Membership</h2>
      <div class="search-section">
        <form action="remove" method="post">
          <input type="text" id="searchInput" name="id" value="{{gymName}}-" placeholder="Enter {{gymName}} ID" />
          <button id="deleteButton">Delete Membership</button>
        </form>
      </div>
      <div id="resultSection" class="result-section"></div>
      <div>
        <p id="resultText2">{{status}}</p>
      </div>
    </div>

    <!-- Search Membership Section -->
    <div class="search-container">
      <h3 style="font-weight: 700; font-size: 22px;">Search Membership Information</h3>
      <div class="search-button-section">
        <input type="text" id="memberSearchInput" placeholder="Search member details..." />
        {{! <button id="memberSearchButton">Search</button> }}
      </div>

      <!-- Membership Details Table -->
      <div class="table-section">
        <table id="memberDetailsTable">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Whatsapp</th>
              <th>Date</th>
              <th>Duration</th>
              <th>Expiry</th>
              <th>Fees</th>
              <th>Note</th>
            </tr>
          </thead>
          <tbody id="searchTable">
            <tr>
              <td>Result Here ...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    
  </div>

  <script src="/public/js/remove.js"></script>
</body>

</html>
