body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.logo p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.search-section {
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#deleteButton {
    width: 100%;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#deleteButton:hover {
    background-color: #c82333;
}

.result-section {
    margin-top: 20px;
}

#resultText {
    color: #555;
}

.back-home {
    margin-top: 20px;
}

.back-home a {
    color: #007bff;
    text-decoration: none;
}

.back-home a:hover {
    text-decoration: underline;
}

.passport-image {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 10px auto; /* Center the image horizontally */
}

.membershipDetails {
    text-align: center; /* Center-align text and image */
    margin: 0 auto;
    max-width: 300px; /* Limit the width of the membership details */
}
